header {
  margin-bottom: 1rem;
}

.form-control::-webkit-input-placeholder {
  color: #EEE;
}

.form-control::-moz-placeholder {
  color: #EEE;
}

.form-control:-ms-input-placeholder {
  color: #EEE;
}

.form-control:-moz-placeholder {
  color: #EEE;
}